@import "vars.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.nav-logout {
    display: flex;
    align-items: center;
    color: $white;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    i {
        padding-right: 5px;
    }
}