<section class="main-section">
  <div class="appointment-views-wrapper">
    <div class="appointment-top">
      <button routerLink="/new" routerLinkActive="active" class="appointment-add-button">
        <i class="material-icons md-24">add_box</i>
        NEW APPOINTMENT
      </button>
      <div class="appointment-top-views">
        <button (click)="toggleView('list')" class="appointment-view-button">
          <i class="material-icons md-24">list_alt</i>
        </button>
        <button (click)="toggleView('calendar')" class="appointment-view-button">
          <i class="material-icons md-24">calendar_today</i>
        </button>
      </div>
    </div>
    <app-appointments [view]="view"></app-appointments>
  </div>
</section>
