@import "vars.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Global Styles */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.section-wrapper {
  background-color: $white;
  padding: 50px 0 30px;
}

.login-wrapper {
  transition: .5s linear all;
  background-color: $orange;
}

.loading-spinner {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calendar */

.fc-view-container {
  background: $white !important;
}

.fc-toolbar h2 {
  color: #2c3e50;
  font-size: 1.5rem;
}

.fc-toolbar.fc-header-toolbar {
  background: #e7e7e7;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Corner deco */

#corner-top {
  width: 31rem;
  height: 30rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  transition: .5s linear all;
}
#corner-top::before,#corner-top::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}
#corner-top::before {
  border-width: 9.5rem 15rem;
  border-right-color: #ffd740;
  border-top-color: #ffd740;
  transition: .5s linear all;
}
#corner-bottom {
  width: 31rem;
  height: 30rem;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: .5s linear all;
}
#corner-bottom::before,#corner-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
}

#corner-bottom::before {
  border-width: 6rem 10rem;
  border-left-color: #ffd740;
  border-bottom-color: #ffd740;
  transition: .5s linear all;
}

/* Screen media size */

@media screen and (max-width: $md-screen){
  html,body{
    font-size: 14px;
  }
  
  header {
    background-size: 30%;
  }
  
  #corner-top, #corner-bottom {
    opacity: 0;
    transition: .5s linear all;
  }
  
  #corner-top::before, #corner-bottom::before {
    border-width: 0 0;
    transition: .5s linear all;
  }
  
}
    
@media screen and (max-width: $xs-screen){
  .login-wrapper {
    background-position: center center;
    transition: .5s linear all;
  }
  
  .login-wrapper header {
    background-position: center center;
    background-size: 60%;
    transition: .5s linear all;
  }
}