@import "../../../vars.scss";

.appointments-list-container {
  width: 100%;
  max-width: 600px;
}

.appointments-list-wrapper {
  display: flex;
  justify-content: center;
}

.appointments-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appointments-list-row {
  display: flex;
  flex-direction: column;
  background: $white;
  border-bottom: 1px solid #e7e7e7;
  transition: .3s linear all;

  &:hover {
    background: #f2f2f2;
    transition: .3s linear all;
  }
  
  &:first-of-type {
    border-top: 1px solid #e7e7e7;
  }
}

.appointment-list-block {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;

}

.appointment-row-comment {
  box-sizing: border-box;
  border-top: 1px solid #d0d0d0;
  padding: 10px;
  font-size: .9rem;
  color: #808080;
}

.calendar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-wrapper {
  max-width: 600px;;
}

.appointment-row-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  i {
    margin-right: 10px;
  }
}

.appointment-type-emergency {
  color: $emergency;
}

.appointment-type-grooming {
 color: $grooming;
}

.appointment-type-routine {
 color: $routine;
}

.appointment-list-pet {
  font-weight: bold;
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 50px;
}

.appointment-list-date {
  width: 110px;
}
.appointment-list-time {
  width: 80px;
}

.appointment-list-notify {
  width: 35px;
  color: #d0d0d0;
  display: flex;
  align-items: center;

  i {
    font-size: 1.4rem;
  }
}

.appointment-row-details {
  display: flex;
  align-items: center;
  color: #b0b0b0;
  cursor: pointer;

  i {
    font-size: 2rem;
  }
}

@media screen and (max-width: $md-screen){
  .appointment-list-date {
    width: 95px;
  }
  .appointment-list-time {
    width: 60px;
  }
}